* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --Primary-color: #408bdc;
  --White-color: #fff;
}

.swiper-wrapper {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    display: flex;
    justify-content: center !important;
  }
}

@media screen and (max-width: 425px) {
  .swiper-container {
    display: flex;
    justify-content: center !important;
  }
}
